*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::selection {
	background-color: #fac896;
	color: #323232;
}

h1 {
	font-size: 3rem;
	line-height: 1.5;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

p:not(:last-child) {
	margin-bottom: 1rem;
}

button {
    min-width: 5rem;
    background-color: #4b7de1;
    border: 0.25rem solid #4b7de1;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fafafa;
    padding: 0.5rem 1rem;
    cursor: pointer;
	user-select: none;
}

.container {
	width: 100%;
	max-width: 75rem;
	margin: 0 auto;
	padding: 0 1rem;
}

html {
	height: 100%;
	font-size: 16px;
	line-height: 1.75;
	font-family: sans-serif;
	color: #323232;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fafafa;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fafafa;
	transition: background-color 0.5s;
}

nav:hover {
	background-color: #fac896;
}

nav .logo {
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 5rem;
	color: inherit;
}

main {
	height: 100%;
	display: flex;
	align-items: center;
	margin-top: 5rem;
}

dialog {
	opacity: 0;
}

dialog.showed {
	width: 50%;
	max-height: 75%;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fac896;
	border: none;
	border-radius: 1rem;
	margin: auto;
	padding: 1rem;
	box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.75);
	opacity: 1;
	transition: opacity 0.5s;
	overflow: auto;
	white-space: pre-wrap;
}

footer {
	background-color: #323232;
	color: #fafafa;
	padding: 1rem 0;
}

@media screen and (max-width: 37.5rem) {
	h1 {
		font-size: 2rem;
	}

	dialog.showed {
		width: 100%;
	}
}